{% include 'header.html' %}

  <section id="carouselExample" class="carousel slide contened">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='imagenes/DC_20230712095030_OsXtp6Iz.jpg') }}" class="d-block w-100" alt="...">
      </div>
      {{ url_for('static', filename='imagenes/DC_20230712095128_lNOtrnED.jpg') }}
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='imagenes/DC_20230712095128_lNOtrnED.jpg') }}" class="d-block w-100" alt="...">
      </div>
      {{ url_for('static', filename='imagenes/DC_20230913164851_9lEeupu0.jpg') }}
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='imagenes/DC_20230913164851_9lEeupu0.jpg') }}" class="d-block w-100" alt="...">
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </section>
      
  <section class="contenedor-ultimos-ingresos">
        
    <div class="titulos">

      <h2>Ultimos Ingresos</h2>

    </div>

    <div class="table-responsive flex-card">
      <div class="container-cards" v-for="producto in productos">

        <h1>Lista de Productos</h1>

        <table>
          
          <ul>

            {% for producto in productos %}
              <li>{{ producto.nombre }} - Precio: ${{ producto.precio }}</li>
            {% endfor %}
            
          </ul>

        </table>

      </div>
    </div>

  </section>

{% include 'footer.html' %}